:host {

}

main {
    width: 62.5rem;
    display: block;
    padding-inline: 1rem;
    margin: 0 auto;
    background-color: var(--cert-bg-color);
    min-height: 100vh;
    
}

nav {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    width: fit-content;
    max-width: 80%;
    margin: 0 auto;
    margin-block-end: 0.25rem;
}

a.active {
    background-color: var(--cert-route-active);
    cursor: default;
}